@import url('https://fonts.googleapis.com/css?family=Poppins:200;300;400;500;600;700;800;900&display=swap');

* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
position:relative;
width:100%;
min-height: 100vh;
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;
background: #fff;
}
header
{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
}
header .logo
{
    position: relative;
    max-width: 80px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{list-style: none;

}
header ul li a
{
display: inline-block;
color: #333;
font-weight: 400;
margin-left: 40px;

}
.flex {
    display: flex;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
 /*BOOKING*/  
  .book {
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    color: white;
  }
  
  .book .input {
    background: #242e5a;
    padding: 20px 20px 40px 20px;
  }
  
 .book .search {
    background: #3f9cc1;
    padding: 20px;
  } */
  
  input {
    width: 100%;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    background: #263760;
    margin-top: 20px;
    color: white;
  }
  
  ::placeholder {
    color: white;
  }
  
  .book .search {
    width: 20%;
  }
  
  .book .search input {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
  } */

 
  /*HOTEL OPTIONS*/ 
  .flex1 {
    display: flex;
    justify-content: space-between;
  }
  .hoteloptions .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .hoteloptions img {
    width: 100%;
    height: 100%;
  }
  
  .hoteloptions .box {
    box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
  }
  
  .hoteloptions .text {
    padding: 20px;
  }
  
  .hoteloptions h3 {
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .hoteloptions p span {
    font-size: 12px;
    color: grey;
  }
  
  .hoteloptions p {
    font-size: 20px;
  }
  .content
  {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content .textBox
  {
    position: relative;
    max-width: 600px;
  }

 /*AMENITIES*/
  .amenities img {
    width: 100%;
    height: 100%;
  }
  
  .amenities .right {
    padding: 50px 50px 50px 100px;
  }
  
  .amenities h2 {
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  .amenities.text p {
    margin-bottom: 50px;
    line-height: 25px;
  }
  
  .accordionItem {
    margin-top: 30px;
  }
  
  .accordionItem p {
    font-size: 15px;
    opacity: 0.8;
    font-family: sans-serif;
    line-height: 20px;
  }
  
  .accordionIHeading {
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    font-weight: 400;
    font-size: 17px;
    color: #C1B086;
    margin-bottom: 20px;
  }
  
  .close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    transform: scaleY(0);
    float: left;
    display: block;
    background-color: #fff;
  }
  
  .open .accordionItemContent {
    padding: 30px;
    background-color: #fff;
    width: 100%;
    margin: 0 0 10px 0;
    display: block;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    box-shadow: 0 13px 43px 0 rgb(37 46 89 / 10%);
  }


  /*PHOTO GALLERY*/
   
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }